@using Microsoft.AspNetCore.Html
@{
    ViewData["Title"] = "Home Page";
    ViewBag.TitoloPagina = "Buongiorno a tutti";
    
    Func<dynamic, IHtmlContent> CreaLink(string sTesto, string sAction, string sController) =>
        @<h2> @Html.ActionLink(sTesto,sAction,sController)
        </h2>;
    
}


<h2><a href="@Url.Action("ShowMovies", "Movie")">Mostra lista film</a></h2>;


<h2><a href="/Impiegato/CreaForm">Crea tessera impiegato</a></h2>

<h2>@Html.ActionLink("Crea tessera impiegato con foto","CreaFormConFoto","Impiegato")</h2>

<h2>@Html.ActionLink("Prova i parametri","ProvaParametri","Movie", new Dictionary<string, object> { 
       { "Nome", "Mario" }, 
       { "Cognome", "Rossi" } })

</h2>

@CreaLink("Link con CreaLink","Movie","SwoeMovies")(null);
